<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Github</key>
	<dict>
		<key>clientId</key>
		<string>1b4e22d023c51cbc2448</string>
		<key>clientSecret</key>
		<string>29c35bc5e0a24188a50b299463f6e1a1be92e428</string>
	</dict>
</dict>
</plist>
